@use "base/mixins" as m;
@use "base/variables" as v;

.footer {
  background-color: v.$grisClaro;
  border-top: 2px solid ligten(v.$grisClaro, 40%);

  &__grid {
    text-align: center;
    border-bottom: 2px solid lighten(v.$gris, 40%);
    padding: 3rem 0;
    @include m.tablet {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }
  }
  &__enlaces {
    color: v.$gris;
  }
  &__copyright {
      @include m.tablet {
          padding: 2rem 0;
          display: flex;
          gap: 10rem;
        }
        a {
        display: block;
      color: v.$gris;
    }
  }
}
